@import "balangan-kreatif/variables";
@import "balangan-kreatif/mixins";

// Plugins CSS
@import "balangan-kreatif/plugins/plugin-bootstrap-switch";
@import "balangan-kreatif/plugins/plugin-nouislider";
@import "balangan-kreatif/plugins/plugin-bootstrap-select";
@import "balangan-kreatif/plugins/plugin-tagsinput";
@import "balangan-kreatif/plugins/plugin-fileupload";
@import "balangan-kreatif/plugins/plugin-datetimepicker";

// Core CSS
@import "balangan-kreatif/nucleo-outline";
@import "balangan-kreatif/alerts";
@import "balangan-kreatif/checkbox-radio";
@import "balangan-kreatif/badges";
@import "balangan-kreatif/pagination";
@import "balangan-kreatif/typography";
@import "balangan-kreatif/misc";
@import "balangan-kreatif/misc-extended";
@import "balangan-kreatif/buttons";
@import "balangan-kreatif/social-buttons";
@import "balangan-kreatif/inputs";
@import "balangan-kreatif/progress-bars";
@import "balangan-kreatif/tooltips-and-popovers";

// components
@import "balangan-kreatif/tabs-navs";
@import "balangan-kreatif/navbars";
@import "balangan-kreatif/navbar-extend";
@import "balangan-kreatif/dropdown-extend";
@import "balangan-kreatif/images";
@import "balangan-kreatif/tags";
@import "balangan-kreatif/animated-buttons";
@import "balangan-kreatif/preloaders";
@import "balangan-kreatif/tables";
@import "balangan-kreatif/info-areas";
@import "balangan-kreatif/media";
@import "balangan-kreatif/modal";
@import "balangan-kreatif/carousel";
@import "balangan-kreatif/footers";
@import "balangan-kreatif/headers";
@import "balangan-kreatif/collapse";

// cards
@import "balangan-kreatif/cards";
@import "balangan-kreatif/cards/card-background";
@import "balangan-kreatif/cards/card-blog";
@import "balangan-kreatif/cards/card-contact";
@import "balangan-kreatif/cards/card-image";
@import "balangan-kreatif/cards/card-register";
@import "balangan-kreatif/cards/card-plain";
@import "balangan-kreatif/cards/card-pricing";
@import "balangan-kreatif/cards/card-profile";
@import "balangan-kreatif/cards/card-product";
@import "balangan-kreatif/cards/card-signup";
@import "balangan-kreatif/cards/card-testimonials";

// For gallery, using PhotoSwipe
@import "balangan-kreatif/plugins/photo-swipe/main.scss";
@import "balangan-kreatif/plugins/photo-swipe/default-skin.scss";
@import "balangan-kreatif/plugins/photo-swipe/gallery.scss";
@import "balangan-kreatif/plugins/photo-swipe/main.scss";

// Isometric cards plugin
@import "balangan-kreatif/plugins/plugin-isometricGrids";

// example pages and sections
@import "balangan-kreatif/examples";
@import "balangan-kreatif/sections";
@import "balangan-kreatif/sections-extend";

@import "balangan-kreatif/responsive";

// Nucleo Icons
@import "balangan-kreatif/nucleo-icons";

// React Differences
@import "react/react-differences";
